In [177]:
import pandas as pd
pd.options.mode.chained_assignment = None
data = pd.read_csv('popolazione-istat-regione-range.csv')

In [178]:
'''data2 = data[['sigla_regione', 'range_eta','totale_genere_maschile', 'totale_genere_femminile', 'totale_generale']]'''

"data2 = data[['sigla_regione', 'range_eta','totale_genere_maschile', 'totale_genere_femminile', 'totale_generale']]"

In [179]:
data3 = data[data2.range_eta == '0-15']
data4 = data[data2.range_eta == '16-19']

In [180]:
data_final = data3.append(data4)

In [181]:
data_final = data_final.drop('range_eta', axis = 1)
data_final = data_final.groupby('sigla_regione', as_index = False).sum()
data_final.head()

,sigla_regione,codice_regione,latitudine_regione,longitudine_regione,totale_genere_maschile,totale_genere_femminile,totale_generale
0,ABR,26,84.702444,26.796876,111825,104823,216648
1,BAS,34,81.278941,31.610297,47711,44315,92026
2,BOL,42,92.998669,22.713248,58019,54274,112293
3,CAL,36,77.811952,33.188804,176749,166382,343131
4,CAM,30,81.679131,28.501700,586159,553402,1139561

In [182]:
data = data[data.range_eta != '0-15']

In [183]:
for index1,row1 in data.iterrows():
    for index2,row2 in data_final.iterrows():
        if row1['sigla_regione'] == row2['sigla_regione'] and row1.range_eta == '16-19':
            data.loc[index1,'range_eta'] = '0-19'
            data.loc[index1,'totale_genere_maschile'] = data_final.loc[index2]['totale_genere_maschile']
            data.loc[index1,'totale_genere_femminile'] = data_final.loc[index2]['totale_genere_femminile']
            data.loc[index1,'totale_generale'] = data_final.loc[index2]['totale_generale']

In [184]:
data[data['denominazione_regione'] == 'Abruzzo']

,codice_regione,codice_nuts_1,descrizione_nuts_1,codice_nuts_2,denominazione_regione,sigla_regione,latitudine_regione,longitudine_regione,range_eta,totale_genere_maschile,totale_genere_femminile,totale_generale
1,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,0-19,111825,104823,216648
2,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,20-29,67472,62611,130083
3,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,30-39,76472,74241,150713
4,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,40-49,94745,95315,190060
5,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,50-59,100048,104109,204157
6,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,60-69,80545,87160,167705
7,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,70-79,60810,69762,130572
8,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,80-89,34181,50307,84488
9,13,ITF,Sud,ITF1,Abruzzo,ABR,42.351222,13.398438,90+,5645,13870,19515

In [188]:
data.to_csv('new_istat.csv')